
.bg-pagina{
    color: white;
    background-color: #7B1FA2;
    padding-bottom: 40px;
    font-family: 'Quicksand', sans-serif;
    
}


.btn-lara:hover{
color: rebeccapurple;


}
.box-content{
    padding-top: 20px;
    padding: 20px;
}

.box2-content{
    padding-left: 150px;
    padding-right: 150px;
}

#titulo{
    padding-top: 40px;
}
#personalcerto{
    padding-top: 270px;
}


#sel1{
    border-color: #FFB300;
    
}
#sel2{
    border-color: #FFB300;
    
}
#sel2{
    border-color: #FFB300;
    
}

