.bg-pagina{
    background-color: rgb(245, 245, 245);  
    font-family: 'Quicksand', sans-serif;
    color: gray;
}
.btn-sair{
    margin-top: 10px;
    color: white;
    background-color: #7B1FA2;
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    float: right;
}

.titulo{
    background-color: rgb(245, 245, 245);  
    font-family: 'Quicksand', sans-serif;
    color:#7B1FA2;
    margin-bottom: 20px;

}

.bg-prova{
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(245, 245, 245); 
    padding: 20px;
}
.prova-esquerdo{
    font-size: 18px;
}
.prova-direito{
    font-size: 18px;
}
.btn-lara{
    float: right;
    color: white;
    background-color: #7B1FA2;
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}


