.btn-sair{

    margin-top: 10px;
    color: white;
    background-color: #7B1FA2;
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    float: right;
}
.bg-pagina{
    background-color: rgb(245, 245, 245);   
    font-family: 'Quicksand', sans-serif;
    color: gray;
    padding-bottom: 100px;
}

.titulo {
    padding-left: 30px;
}

.perfil-foto{
    padding-left: 30px;
    
   
}

#nome {
    font-size: 30px;
    padding-left: 180px;
    text-shadow: 1px 1px 1px #c2bfbf;
}

#cidade {
    padding-left: 182px;
}

#img {
    float: left;
    box-shadow: 1px 1px 3px #000;
    border-radius: 100px;
    
       
}

#img2 {
    float: middle;
    
    
}

.sobre {
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.box{
    
    background-color: #7B1FA2;
    border-radius: 10px;
    padding: 40px;
    color: white;
    text-align: left;
    box-shadow: 2px 2px 3px #411155;
}

.box2 {
    padding: 40px;
}
.btn-lara:hover{
    color: rebeccapurple;
    }
.btn-lara {
        color: white;
        background-color: #FFB300;
        border-radius: 5px;
        width: 105px;
        padding: 5px;
        box-shadow: 1px 1px 4px #a17101;
}

.box3 {
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 40px;
}