* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(54, 6, 66, 0.644);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  
   /*config basica */
   .login{
          text-decoration: none;
          color: antiquewhite;
          font-size: 18pt;
          font-weight: bold;
      }
      .buscarProfissional{
          padding-top: 50px;
          padding-bottom: 100px;
      }
  
      .buscarProfissional hr{
          margin-top: 50px;
          margin-bottom: 50px;
      }
      .bg-nav-yellow{
        background-color: #FFB300;
        color:#FFF;
      }
      .bg-yellow{
        background-color: #FFB300;
        color:#FFF;
      }
      .nav-link{
        color:#FFF;
        font-weight: bold;
      }
     
      .navbar-brand{
        color:#FFF;
        
        font-family: 'Quicksand', sans-serif;
        text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
      }
      .brand-lg{
        color:#FFF;
        font-size: 50pt;
        font-family: 'Quicksand', sans-serif;
        text-shadow: 3px 3px 2px rgb(0, 0, 0);
      }
      .bg1{
        background: rgb(0, 0, 0) url("img/bg1.jfif");
        
        background-size: cover;
        background-repeat: no-repeat;
      }
      
      .box{
        background: rgba(0, 0, 0, 0.623);
        padding: 50px;
      }
      .text-secondLine{
        font-size: 18;
        padding: 50px;
      }
      .bg-academy{
        background: rgb(0, 0, 0) url("img/academy.jfif");
        
        background-size: cover;
        background-repeat: no-repeat;
      }
      .text-threeLine{
        font-size: 20;
        color: seashell;
  
      }
      .progress-content p{
        margin: 20px;
      }
      .progress-content{}
      .progress-content h5{
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 5px;
      }
  
      .progress-content b{
        color: rgb(247, 225, 130);
      }
      .cards-apresentacao{
        background: rgb(54, 6, 66);
        color: rgb(247, 225, 130);
      }
      .cards-apresentacao2{
        background: rgb(85, 9, 104);
        color: #fff;
      }
      .cards-apresentacao3{
        background: rgb(24, 3, 29);
        color: rgb(247, 225, 130);
      }
      .col-sm-2 ul li{
        list-style: none;
        font-size: 12pt;
      }
     .col-sm-3 ul li{
       list-style: none;
       font-weight: 12pt;
     }
     .col-sm-2 h4::after{
        content: "";
        width: 100px;
        height: 2px;
        display: block;
        background-color: rgb(247, 225, 130);
        margin: 0 auto;
     }
     .col-sm-3 h4::after{
        content: "";
        width: 100px;
        height: 2px;
        display: block;
        background-color: rgb(247, 225, 130);
        margin: 0 auto;
     }
     .bg-purple{
      background:rgb(54, 6, 66);
     }

     .bg-purple-light{
        background:rgb(99, 11, 121);
       }
  
     .modal{
      background:#ffb30036 ;
     }
     .modal-content{
      background:rgb(54, 6, 66) ;
      color:#fff;
     }
     .progress-bar{
         height: 5px;
     }
     .progress{
        height: 5px;
     }
     .bg-gold{
         background: rgb(247, 225, 130);
     }
     .box-form{
        background: rgba(0, 0, 0, 0.342);
     }
     .box-form-input{
         padding: 50px;
         color: rgb(247, 225, 130);
         
     }
     .btn-primary{
        background: rgb(247, 225, 130);
        color: rgb(0, 0, 0);
     }
     .btn-secondary{
        background: rgb(189, 160, 33);
        color: rgb(0, 0, 0);
     }