.bg-sair{
    background-color: #FFB300; 
    color: white;
}

.btn-sair{
    margin-top: 10px;
    color: white;
    background-color: #7B1FA2;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    vertical-align: bottom;
    
}
.btn-sair:hover{
    color: rebeccapurple;
    }

.bg-pagina{
    color: white;
    background-color: #FFB300;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    
}

.btn-lara {
    color: white;
    background-color: #FFB300;
    border-radius: 10px;
    width: 105px;
    padding: 5px;

}

.btn-lara:hover{
color: rebeccapurple;
}

.box-lara{
    background-color:#7B1FA2;
    padding:30px;
    border-radius: 10px;
    border:solid 1px #FFB300;
    padding-top: 50px;


}

.box-content{
    background-color:#7B1FA2;
    padding: 10px;
    border-radius: 10px;
}

.ajustarbox {
    padding-top: 100px;
}

#hr{
    background-color:#FFB300;
    
    
}