.bg-sair{
    background-color: #FFB300; 
    color: white;
}

.btn-sair{
    margin-top: 10px;
    color: white;
    background-color: #FFB300;
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    
    
}
.btn-sair:hover{
    color: rebeccapurple;
    }

.bg-pagina{
    color: white;
    background-color: #7B1FA2;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 50px;
    
}


.btn-lara:hover{
color: rebeccapurple;
}

#titulo{
    padding-top: 150px;
}
#personalcerto{
    padding-top: 270px;
}

